{% extends "base.html" %}
{% load l10n %}
{% block content %}
<p>{{ user.username }}さん、こんにちは！</p>

<ol>
<form action="{% url 'fav_users' %}" method="get">
{% csrf_token %}
{% for item in receive_user %}
   <li><a href="{% url 'userbloglist' item.id %}">{{ item.user.username }}</a></li>
{% endfor%}
</form>
</ol>


<ol>
    {% if 'fav_users' in request.path %}
    {% for item in receive_user %}
    <li><a href="{% url 'userbloglist' item.id %}">{{ item.user }}</a></li>
    {% endfor %}
    {% endif %}
</ol>

{% endblock %}