{% extends "base.html" %}
{% load l10n %}
{% block content %}
<h2>{{ object.movietitle }}</h2>
<div>
    <p>監督：{{ object.director }}</p>
    <p>公開日：{{ object.release }}</p>
    <p>カテゴリー：{{ object.category }}</p>
    <ul>
    {% for tag in object.tags.all %}
    <li><p>{{ tag.name }}</p></li>
    {% endfor %}
    </ul>
    <form action="{% url 'post_movieblog' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="movieinfo" value="{{ object.pk }}">
        <button type="submit" class="btn">レビューする</button>
    </form>
</div>
{% endblock %}